<a href="https://colab.research.google.com/github/Auvarmf/Riset-MBKM-CMM2023/blob/main/Part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise: Kucing Berhitung

In [15]:
# Menggunakan loop for untuk menelusuri range angka dari 0 hingga 20
# dan mencetak setiap angka satu per satu
for angka in range(0, 21):
  print(angka)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [16]:
# Menggunakan loop for untuk menelusuri range angka dari 0 hingga 20
# dan melakukan pengecekan kondisi:
# jika angka lebih dari 18, mencetak angka 18
# jika tidak, mencetak angka tersebut
for angka in range(0, 21):
  if angka > 18:
    print(18)
  else:
    print(angka)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18
18

In [17]:
# Menggunakan loop for untuk menelusuri range angka dari 0 hingga 20
# dan mencetak nilai minimum antara angka tersebut dengan 18
# sehingga mencetak angka dari 0 hingga 18
for angka in range(0, 21):
  print(min(angka, 18))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
18
18

# Daftar Pangkat

In [18]:
# Membuat list a kosong
# Menggunakan loop for untuk menelusuri range angka dari 0 hingga 4
# dan menambahkan kuadrat dari setiap angka ke dalam list a
a = []
for i in range(0, 5):
  a.append(i**2)

# Menampilkan list a
a

[0, 1, 4, 9, 16]

# List Comprehension

In [19]:
# Menggunakan list comprehension untuk membuat list a yang berisi kuadrat dari setiap angka dalam range 0 hingga 4
a = [i**2 for i in range(0, 5)]

# Menampilkan list a
a

[0, 1, 4, 9, 16]