<a href="https://colab.research.google.com/github/Auvarmf/Riset-MBKM-CMM2023/blob/main/Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print

In [112]:
# menggunakan petik 2 ""
print("Halo, nama saya Auvar")

Halo, nama saya Auvar

In [113]:
# menggunakan petik 1 ''
print('Halo, nama saya Auvar')

Halo, nama saya Auvar

In [114]:
print("""Halo, nama saya Auvar""")

Halo, nama saya Auvar

# Variable

In [115]:
# menambahkan nilai 1 pada variable a
a = 1

In [116]:
# print nilai pada variable a
a

1

In [117]:
# menambahkan nilai pada dua variable
a, b = 2, 3

In [118]:
# print nilai pada variable b
b

3

In [119]:
# print nilai pada variable a
a

2

In [120]:
# print nilai pada variable a dan b
a, b

(2, 3)

# List

In [121]:
# menambahkan nilai pada variable a dengan menggunakan list
a = [1, 2, 3, "Empat", "Lima", 6]

In [122]:
# print nilai pada variable a
a

[1, 2, 3, 'Empat', 'Lima', 6]

In [123]:
# print nilai pada list index ke 0
a[0]

1

In [124]:
# print nilai pada list index ke 1
a[1]

2

In [125]:
# print nilai pada list index -1 atau index ke 5
a[-1]

6

In [126]:
# print nilai pada list index -2 atau index ke 4
a[-2]

'Lima'

In [127]:
# menambahkan nilai 7 dengan append pada list
a.append(7)

In [128]:
# print list
a

[1, 2, 3, 'Empat', 'Lima', 6, 7]

In [129]:
# melihat panjang data pada list
len(a)

7

In [130]:
# deklarasi list kosong
a = []

In [131]:
# print list
a

[]

In [132]:
# menambahkan nilai 1 dengan append pada list
a.append(1)

In [133]:
# print list
a

[1]

In [134]:
# menambahkan nilai 2 dengan append pada list
a.append(2)

In [135]:
# print list
a

[1, 2]

# Slicing

inclusive : exclusive : step

In [136]:
# Memotong dan mengambil potongan-potongan data dari suatu list atau string
a = [0, 1, 2, 3, 4, 5, 6]

In [137]:
# Mengambil potongan data dari indeks 0 hingga 1 (indeks 2 tidak termasuk)
a[0 : 2]

[0, 1]

In [138]:
# Mengambil potongan data dari indeks 0 hingga 4 (indeks 5 tidak termasuk)
a[0 : 5]

[0, 1, 2, 3, 4]

In [139]:
# Mengambil potongan data dari indeks 3 hingga 2 dari akhir
a[3 : -2]

[3, 4]

In [140]:
# Mengambil potongan data dari awal hingga indeks 4 (indeks 5 tidak termasuk)
a[ : 5]

[0, 1, 2, 3, 4]

In [141]:
# Mengambil potongan data dari indeks 3 hingga akhir
a[3 : ]

[3, 4, 5, 6]

In [142]:
# Mengambil potongan data dengan langkah 2
a[ : : 2]

[0, 2, 4, 6]

In [143]:
# Mengambil potongan data dari indeks 1 hingga 4 (indeks 5 tidak termasuk) dengan langkah 2
a[1 : 5 : 2]

[1, 3]

In [144]:
# Memutar urutan data dari akhir ke awal
a[ : : -1]

[6, 5, 4, 3, 2, 1, 0]

# Join & Split

In [145]:
# Menggabungkan atau memisahkan data dalam list atau string
a = ["cat", "dog", "fish"]

In [146]:
# Menggabungkan data dalam list dengan spasi sebagai pemisah
" ".join(a)

'cat dog fish'

In [147]:
# Menggabungkan data dalam list dengan koma dan spasi sebagai pemisah
", ".join(a)

'cat, dog, fish'

In [148]:
a = "Program ini tentang intro python"

In [149]:
# Memisahkan kata-kata dalam string menjadi elemen-elemen dalam list
a.split()

['Program', 'ini', 'tentang', 'intro', 'python']

In [150]:
a = "Hari ini, ibu pergi ke pasar"

In [151]:
# Memisahkan kalimat dalam string menjadi elemen-elemen dalam list
a.split(", ")

['Hari ini', 'ibu pergi ke pasar']

# Dictionary

key : value

In [152]:
# Struktur data yang menyimpan pasangan key dan value
a = {
    "fish" : "ikan",
    "cat" : "kucing",
    "dog" : "anjing"
}

In [153]:
# Mengakses value dari key "fish"
a["fish"]

'ikan'

In [154]:
# Menambahkan pasangan key dan value baru
a['bird'] = 'burung'

In [155]:
# Menampilkan dictionary
a

{'fish': 'ikan', 'cat': 'kucing', 'dog': 'anjing', 'bird': 'burung'}

In [156]:
# Menambahkan pasangan key dan value baru
a['elephant'] = 'gajah'

In [157]:
# Menampilkan dictionary
a

{'fish': 'ikan',
 'cat': 'kucing',
 'dog': 'anjing',
 'bird': 'burung',
 'elephant': 'gajah'}

In [158]:
# Mengambil semua keys dalam dictionary
a.keys()

dict_keys(['fish', 'cat', 'dog', 'bird', 'elephant'])

In [159]:
# Mengambil semua values dalam dictionary
a.values()

dict_values(['ikan', 'kucing', 'anjing', 'burung', 'gajah'])

In [160]:
nilai = {"Andi" : 40, "Budi" : 55, "Caca" : 75, "Deddy" : 100}

In [161]:
# Mengubah value dari key "Deddy"
nilai['Deddy'] = 90

In [162]:
# Menampilkan dictionary
nilai

{'Andi': 40, 'Budi': 55, 'Caca': 75, 'Deddy': 90}

# Function

In [163]:
# Blok kode yang dapat digunakan kembali untuk melakukan tugas tertentu
def jumlah(a, b):
  return a + b

In [164]:
# Memanggil fungsi jumlah dengan argumen 3 dan 4
jumlah(3, 4)

7

In [165]:
def perkalian(a, b):
  return a*b

In [166]:
# Memanggil fungsi perkalian dengan argumen 123 dan 123
perkalian(123, 123)

15129

# Conditionals

In [167]:
# Mengevaluasi kondisi dan melakukan aksi berdasarkan kondisi yang terpenuhi
score = 50

In [168]:
if 0 <= score < 60:
  print("Indeks: C")
elif 60 <= score < 80:
  print("Indeks: B")
elif 80 <= score < 100:
  print("Indeks: A")
elif score == 100:
  print("Indeks: S")
else:
  print("nilainya ngaco")

Indeks: C

In [169]:
def konversi_ke_indeks(score):
  if 0 <= score < 60:
    return "Indeks: C"
  elif 60 <= score < 80:
    return "Indeks: B"
  elif 80 <= score < 100:
    return "Indeks: A"
  elif score == 100:
    return "Indeks: S"
  else:
    return "nilainya ngaco"

In [170]:
# Memanggil fungsi konversi_ke_indeks dengan argumen -10
konversi_ke_indeks(-10)

'nilainya ngaco'

# Iterasi (Menelusuri)

In [171]:
# Melakukan pengulangan atau penelusuran terhadap elemen-elemen dalam list
numbers = [1, 2, 3, 4, 5, 6]

In [172]:
# Menampilkan setiap elemen dalam list numbers
for n in numbers:
  print(n)

1
2
3
4
5
6

In [173]:
# Menampilkan hasil konversi indeks untuk setiap elemen dalam list
for score in [80, 30, 55, 120]:
  print(konversi_ke_indeks(score))

Indeks: A
Indeks: C
Indeks: C
nilainya ngaco

In [174]:
# Menampilkan hasil pangkat dua dari setiap elemen dalam list numbers
for number in numbers:
  print(number**2)

1
4
9
16
25
36

In [175]:
animals = ["Cat", "Fish", "Elephant", "Bird"]

In [176]:
# Menampilkan setiap elemen dalam list animals
for animal in animals:
  print(animal)

Cat
Fish
Elephant
Bird

In [177]:
# Menampilkan setiap elemen dalam list animals dengan huruf kapital
for animal in animals:
  print(animal.upper())

CAT
FISH
ELEPHANT
BIRD

In [178]:
# Menampilkan setiap elemen dalam list animals dengan huruf kecil
for animal in animals:
  print(animal.lower())

cat
fish
elephant
bird

In [179]:
# Menampilkan angka 2, 4 (range dari 2 hingga 5 dengan langkah 2)
for i in range(2, 5, 2):
  print(i)

2
4

In [180]:
# Menampilkan key dan value dari setiap pasangan dalam dictionary
a

{'fish': 'ikan',
 'cat': 'kucing',
 'dog': 'anjing',
 'bird': 'burung',
 'elephant': 'gajah'}

In [181]:
a.keys()

dict_keys(['fish', 'cat', 'dog', 'bird', 'elephant'])

In [182]:
for key in a.keys():
  print(f"Bahasa Indonesia dari {key} adalah {a[key]}")

Bahasa Indonesia dari fish adalah ikan
Bahasa Indonesia dari cat adalah kucing
Bahasa Indonesia dari dog adalah anjing
Bahasa Indonesia dari bird adalah burung
Bahasa Indonesia dari elephant adalah gajah

In [183]:
# Menambahkan hasil pangkat dua dari setiap angka dalam range ke dalam list a
a = []
for i in range(5):
  a.append(i**2)

In [184]:
# Menampilkan list a
a

[0, 1, 4, 9, 16]

# Python Comprehension

In [185]:
# Memanfaatkan sintaksis yang ringkas untuk membuat list, set, atau dictionary dengan cepat
a = [i**2 for i in range(5)]

In [186]:
# Menampilkan list a
a

[0, 1, 4, 9, 16]

In [187]:
# Membuat dictionary a dengan key berupa angka dari range dan value berupa hasil pangkat dua
a = {i : i**2 for i in range(5)}

In [188]:
# Menampilkan dictionary a
a

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [189]:
# Membuat list a yang berisi hasil pangkat dua dari setiap angka dalam range
a = [i**2 for i in range(5)]

In [190]:
# Menampilkan list a
a

[0, 1, 4, 9, 16]

In [191]:
# Membuat set dengan elemen yang unik
{1, 1, 2, 3, 1, 2, 4, 3, 2, 3, 2, 1, 4}

{1, 2, 3, 4}

In [192]:
# Membuat list nilai dengan hasil konversi indeks dari setiap elemen dalam list
nilai = [konversi_ke_indeks(score) for score in [20, 40, 80, 30, 10, -5, 105]]

In [193]:
# Menampilkan list nilai
nilai

['Indeks: C',
 'Indeks: C',
 'Indeks: A',
 'Indeks: C',
 'Indeks: C',
 'nilainya ngaco',
 'nilainya ngaco']